{% extends 'Layout/Authenticated/base.html.twig' %}

{% block content %}
    <h3 class="mt-4 font-semibold leading-2 text-gray-900 text-2xl">Créer un nouveau joueur</h3>
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-2">
        {{ form_start(form, {'attr': {'class': 'bg-white shadow-sm ring-1 ring-gray-200 sm:rounded-xl md:col-span-2'}}) }}
            <div class="px-4 py-6 sm:p-8">
                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        {{ form_label(form.playerFile, 'Photo du joueur') }}
                        <div class="mt-2">
                            {{ form_widget(form.playerFile, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-200 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        {{ form_label(form.name, 'Nom du joueur') }}
                        <div class="mt-2">
                            {{ form_widget(form.name, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-200 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        {{ form_label(form.firstname, 'Prénom du joueur') }}
                        <div class="mt-2">
                            {{ form_widget(form.firstname, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-200 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        {{ form_label(form.role, 'Poste du joueur') }}
                        <div class="mt-2">
                            {{ form_widget(form.role, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-200 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        {{ form_label(form.number, 'Numéro du joueur') }}
                        <div class="mt-2">
                            {{ form_widget(form.number, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-200 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        {{ form_label(form.team, 'Équipe du joueur') }}
                        <div class="mt-2">
                            {{ form_widget(form.team, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-200 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
                <a href="{{ path('app_player_list') }}" type="button" class="text-sm font-semibold leading-6 text-gray-900">Annuler</a>
                <button type="submit" class="rounded-md bg-secondary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">Sauvegarder</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}