{% extends 'Layout/Default/base.html.twig' %}

{% block body %}
    <section class="z-50 sticky top-0 h-14 text-center bg-blue-950 content-center ">
        <div class="container mx-auto px-4">
            <p class="text-white text-sm md:text-base font-bold">Les jeux d'argent sont interdits aux personnes de moins
                de 18 ans.</p>
            <p class="text-white text-sm md:text-base font-bold">Rappel : Jouer comporte des risques d'endettement et de
                dépendance.</p>
        </div>
    </section>
    <nav class="z-50 sticky top-14 h-14 bg-lime-700">
        <div class="mx-auto px-4 grid grid-cols-2 md:grid-cols-3 gap-4 items-center">
            <!-- Logo à gauche -->
            <div class="col-span-1">
                <a href="{{ path("app_index") }}"><img src="{{ asset("images/betnow-logo.png") }}" width="150px"></a>
            </div>
            <!-- Menu au centre -->
            <div class="max-sm:hidden col-span-1 text-center">
                <a href="{{path('app_party_user_list')}}" class="text-white text-xsm md:text-lg hover:text-gray-300 mr-4">Visualiser tous les
                    matchs</a>
                <a href="#" class="text-white text-xsm md:text-lg hover:text-gray-300 mr-4">Parier</a>
            </div>
            <!-- Bouton à droite -->
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-span-1 text-right">
                    <a href="{{ path('app_admin_dashboard') }}"
                       class="max-sm:hidden bg-lime-600 hover:bg-white text-white hover:text-lime-600 font-bold py-2 px-4 rounded-md">Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</a>
                    <a class="float-end md:hidden" href="{{ path('app_admin_dashboard') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </a>
                </div>
            {% elseif is_granted('ROLE_USER') %}
                <div class="col-span-1 text-right">
                    <a href="{{ path('app_admin_dashboard') }}"
                       class="max-sm:hidden bg-lime-600 hover:bg-white text-white hover:text-lime-600 font-bold py-2 px-4 rounded-md">Bienvenue {{ app.user.firstname }} {{ app.user.lastname }} </a>
                    <a class="float-end md:hidden" href="{{ path('app_admin_dashboard') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </a>
                </div>
            {% else %}
                <div class="col-span-1 text-right">
                    <a href="{{ path('app_login') }}"
                       class="max-sm:hidden bg-lime-600 hover:bg-white text-white hover:text-lime-600 font-bold py-2 px-4 rounded-md">Connexion</a>
                    <a class="float-end md:hidden" href="{{ path('app_login') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="grid grid-cols-1 md:grid-cols-8">
        <!-- Sidebar gauche -->
        <div class="max-sm:hidden col-span-2">
            <div class="container mx-auto p-4 fixed-sidebar">
                <div class="max-w--md mx-auto bg-white rounded shadow-lg p-6 category-box flex flex-col">
                    <!-- Titre -->
                    <div class="mb-2">
                        <h1 class="text-xl font-semibold mb-2">Sport</h1>
                    </div>
                    <div class="mb-4">
                        <ul>
                            {% for sport in sports %}
                                <li><a href="{{ path('app_sport_list', {'id': sport.id}) }}">{{ sport.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mb-2">
                        <h1 class="text-xl font-semibold mb-2">Match</h1>
                    </div>
                    <div class="mb-4">
                        <ul>
                            <li><a href="{{ path('app_index') }}">À venir</a></li>
                            <li><a href="{{ path('app_index') }}">En cours</a></li>
                            <li><a href="{{ path('app_index') }}">Terminé</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenu principal -->
        <div class="max-sm:mt-14 md:col-span-4 overflow-y-auto z-40">
            <div class="py-4">
                {% for party in partys %}
                    <div class="md:grid-cols-2 grid gap-4 bg-blue-950 px-4 py-4 rounded-md border ">
                        <div class=" md:col-span-1 md:grid-cols-5 md:grid max-sm:justify-center">
                            <div class="md:col-span-2 content-center text-end"> <a href="{{ path('app_show_party', {'id': party.id}) }}"><p class="text-white text-xsm md:text-base mr-2 self-center">{{ party.teamHome.name }}</p></a></div>
                            <div class="md:col-span-1 content-center text-center"><a href="{{ path('app_show_party', {'id': party.id}) }}"><div class="bg-lime-700 rounded-md px-2 py-2 text-white h-min self-center">
                                        {{ party.homeScore }} - {{ party.awayScore }}</div></a></div>
                            <div class="md:col-span-2 content-center"> <a href="{{ path('app_show_party', {'id': party.id}) }}"><p class="text-white text-xsm md:text-base ml-2 self-center">{{ party.teamAway.name }}</p></a></div>
                        </div>
                        <div class="md:col-span-1 grid-cols-3 grid gap-2 place-content-end">
                            <div class="col-span-1 bg-lime-700 rounded-md px-2 py-2 text-white text-center">
                                <button class="text-xxsm md:text-xs bet-button" data-team="{{ party.teamHome.name }}" data-match-name="{{ party.teamHome.name }} vs {{ party.teamAway.name }}" data-odds="{{ party.teamHomeOdds }}" data-match="{{ party.id }}">{{ party.teamHome.name }}  <br> {{ party.teamHomeOdds }}</button>
                            </div>
                            <div class="col-span-1 bg-white rounded-md px-2 py-2 text-black text-center">
                                <button class="text-xxsm md:text-xs bet-button" data-team="Nul" data-odds="{{ party.drawOdds }}" data-match-name="{{ party.teamHome.name }} vs {{ party.teamAway.name }}" data-match="{{ party.id }}">Nul <br>{{ party.drawOdds }}</button>
                            </div>
                            <div class="col-span-1 bg-red-600 rounded-md px-2 py-2 text-white text-center">
                                <button class="text-xxsm md:text-xs bet-button" data-team="{{ party.teamAway.name }}" data-match-name="{{ party.teamHome.name }} vs {{ party.teamAway.name }}" data-odds="{{ party.teamAwayOdds }}" data-match="{{ party.id }}">{{ party.teamAway.name }}  <br> {{ party.teamAwayOdds }}</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Sidebar droite -->
        <div class="z-30 col-span-2">
            <div class="container mx-auto p-4 fixed-sidebar">
                <div class="max-w--md mx-auto bg-white rounded shadow-lg p-6 selection-box flex flex-col">
                    <!-- Titre -->
                    <div class="mb-4">
                        <h1 class="text-xl font-semibold mb-2">Mes Sélections de Paris Sportif</h1>
                    </div>
                    <!-- Liste de sélection -->
                    <div class="mb-4 selection-list">
                        <ul id="bet-selection">
                            <!-- Les paris sélectionnés seront ajoutés ici -->
                        </ul>
                    </div>
                    <!-- Montant total des paris -->
                    <div class="mt-auto text-lg font-semibold text-gray-800">
                        Gain possible: <span id="potential-win">0.00€</span>
                    </div>
                    <!-- Champ de saisie pour le montant du pari -->
                    <div class="mb-4">
                        <label for="bet-amount" class="text-gray-800 font-semibold">Montant de la mise:</label>
                        <input type="number" id="bet-amount" name="bet-amount" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-lime-700">
                    </div>
                    <!-- Bouton pour ajouter le pari à la liste -->
                    <div class="flex justify-center">
                        <button id="add-bet-button" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Ajouter au panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
